<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Environment" value="Production"/>
    <add key="MasterNodes" value="{YourAWSPrimaryNodeAddress}"/>
    <add key="SlaveNodes" value="{Your1stAWSReadReplicaNodeAddress},{AWSReadReplicaNodeAddress}"/>
  </appSettings>
</configuration>