<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Change to 'Production' when deployed -->
    <add key="Environment" value="Local"/>
    <add key="MasterNodes" value="{YourAWSPrimaryNodeAddress}"/>
    <add key="SlaveNodes" value="{Your1stAWSReadReplicaNodeAddress},{AWSReadReplicaNodeAddress}"/>
  </appSettings>
</configuration>